.Footer {
  flex:           0 0 auto;
  background:     white;
  margin-bottom:  0;
  margin-top:     auto;
  padding-top:    22px;
  padding-bottom: 25px;
  font-size:      12px;
  line-height:    14px;
  color:          #555;
  letter-spacing: 0.01px;
  position:       relative;
  z-index:        3;
  border-top:     1px solid #F0F0F0;
  &-Inner {
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: space-between;
    &_Wrapper1280 {
      max-width:          1280px;
      min-width:          320px;
      -webkit-box-sizing: border-box;
      box-sizing:         border-box;
      width:              100%;
      margin:             0 auto;
      padding:            0 20px;
    }
  }

  &-Menu {
    display:         flex;
    flex-wrap:       wrap;
    align-items:     center;
    justify-content: center;
    margin-bottom:   1rem;
    width:           100%;
  }
  &-MenuItem {
    margin:                   0.15rem 0.5rem;
    text-decoration:          none;
    color:                    inherit;
    outline:                  none;
    text-decoration-skip-ink: none;
  }
  &-Copyright {
    white-space: nowrap;
  }

  @media (min-width: 768px) {
    &-Inner {
      flex-direction: row;
    }
    &-Menu {
      flex-direction:  row;
      align-items:     flex-start;
      justify-content: flex-start;
      margin-bottom:   0;
      width:           auto;
    }
    &-MenuItem {
      margin: 0 1rem 0 0;
    }
    &-MenuItem:last-child {
      margin: 0;
    }
  }
}
