@import "../../styles/mixins";
@import "../../styles/vars";
@import "../../styles/services";

.Card {
  box-sizing:       border-box;
  border-radius:    20px;
  background-color: #FAFAFA;
  color:            #333;
  transition:       .3s ease-out;
  position:         relative;
  display:          flex;
  flex-direction:   column;
  max-width:        calc(100vw - 32px);
  &-Head {
    padding: 16px;
  }
  &-HeadHeader {
    display:       flex;
    margin-bottom: 13px;
    align-items:   center;
    margin-right:  30px;
  }
  &-Main {
    flex:            1 1;
    display:         flex;
    flex-direction:  column;
    padding:         9px 16px 16px;
    border-radius:   20px 20px 18px 18px;
    justify-content: center;
  }
  &-Text {
    @extend %p;
  }
  &-Icon {
    margin-right: 20px;
  }
  &-Data {
    margin-top:      16px;
    display:         flex;
    flex-direction:  column;
    justify-content: flex-end;
    flex:            1 1;
    @include w-from($screen-md) {
      margin-top: 31px;
    }
  }
  &-Picture {
    display:        flex;
    flex:           1 1;
    flex-direction: column;
  }
  &-Img {
    flex:          1 1;
    border-radius: 20px;
    object-fit:    cover;
  }

  &-Title {
    @extend %h2;
    display:            -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:           hidden;
    text-overflow:      ellipsis;
    max-height:         2.5em;
  }
  &-Info {
    display:         flex;
    justify-content: space-between;
  }
  &-Close {
    @extend %click-area;
    position:    absolute;
    font-weight: bold;
    top:         20px;
    right:       20px;
    height:      15px;
    background:  transparent;
    border:      none;
    outline:     none;
    display:     none;
    i {
      margin:    0;
      font-size: 16px;
    }
  }
  &-Link {
    @extend %click-area;
    position:    absolute;
    font-weight: bold;
    bottom:      20px;
    right:       20px;
    display:     none;
    i {
      margin:    0;
      font-size: 16px;
    }
  }
  &-Btns {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: space-between;
    margin:          -9px;
    @include w-from($screen-md) {
      justify-content: flex-start;
    }
    .Button {
      margin: 9px
    }
  }
  &:hover {
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
    background: $card-color-active;
    transition: .15s ease-out;

    .Card-Link,
    .Card-Close {
      display: block;
    }
    .Card-Main {
      background: $card-color-active;
      transition: .15s ease-out;
    }
  }
}
