.Menu {
  &-Nav {
    position:   fixed;
    background: #F0F0F0;
    height:     100%;
    top:        0;
    z-index:    2;
    right:      0;
    width:      100%;
    padding:    120px 30px 30px;
    box-sizing: border-box;
    transform:  translateX(100%);
    transition: transform .45s ease-in-out;
    max-width:  175px;
  }
  &-NavInner {
    display:        flex;
    flex-direction: column;
    width:          100%;
    height:         100%;
    overflow-y:     auto;
    overflow-x:     hidden;
  }
  &-NavItem {
    font-weight:              bold;
    line-height:              20px;
    margin-bottom:            0.5rem;
    opacity:                  0.6;
    text-decoration:          none;
    color:                    inherit;
    outline:                  none;
    text-decoration-skip-ink: none;
    &:last-child {
      margin-bottom: 0;
    }
    &_Active {
      opacity: 1;
    }
  }
  &-Trigger {
    position:   absolute;
    top:        50%;
    right:      16px;
    margin-top: -((2px*5) / 2);
    padding:    2px*2 0;
    transition: 0.2s ease-in-out;
    width:      20px;
    z-index:    10;
    &_Active {
      transform: rotate(-45deg);
      .Menu-Bars {
        &:before {
          transform: translateX(0) rotate(0deg);
        }
        &:after {
          transform: translateX(0) rotate(-90deg);
        }
      }
      & + .Menu-Nav {
        transform: translateX(0%);
      }
    }
  }
  &-Bars {
    position: relative;
    cursor:   pointer;
    &:before,
    &:after {
      width:            16px;
      height:           2px;
      background-color: #333;
      border-radius:    2px;
      transition:       0.2s ease-in-out;
    }
    &:before,
    &:after {
      content:     '';
      display:     block;
      position:    absolute;
      top:         0;
      left:        0;
      will-change: transform;
    }
    &:before {
      transform: translateY(-(2px*2));
    }
    &:after {
      transform: translateY((2px*2));
    }

  }

  @media (min-width: 768px) {
    &-Trigger {
      display: none
    }
    &-Nav {
      max-width:  100%;
      position:   static;
      background: transparent;
      padding:    0;
      transform:  none;
      transition: none;
    }
    &-NavInner {
      flex-direction: row;
      position:       static;
      overflow:       hidden;
    }
    &-NavItem {
      margin-bottom: 0;
      margin-right:  26px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

