.Head {
  color:         #333;
  position:      relative;
  background:    white;
  margin-bottom: 32px;
  &-Inner {
    display:        flex;
    align-items:    center;
    padding-top:    18px;
    padding-bottom: 18px;
    position:       relative;
  }
  &-Logo {
    height:              27px;
    width:               108px;
    margin-right:        52px;
    background-image:    url(../../assets/img/ya-logo-home@1x.png);
    background-image:    url(../../assets/img/ya-logo-home@2x.png);
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     cover;
  }

  @media (min-width: 768px) {
    border-bottom: 1px solid #F0F0F0;
    &-Inner {
      padding-top:    33px;
      padding-bottom: 33px;
    }
  }
}

